<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="triangle" class="org.tuwaisu.javabrains.Triangle">
    </bean>

    <bean id="zeroPoint" class="org.tuwaisu.javabrains.Point">
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>

    <bean id="firstPoint" class="org.tuwaisu.javabrains.Point">
        <property name="x" value="-20" />
        <property name="y" value="0" />
    </bean>

    <bean id="secondPoint" class="org.tuwaisu.javabrains.Point">
        <property name="x" value="0" />
        <property name="y" value="20" />
    </bean>
</beans>